.container {
    z-index: 3000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: 100%;
        padding: 0 16px;
        width: var(--default-layout-width);
    }
}

.logo-container {
    display: flex;
    align-items: center;

    .logo-wrapper {
        font-size: 0;
    }
}

.actions-container {
    display: flex;
    align-items: center;
}

.upload-button {
    line-height: normal;
    font-size: 1.6rem;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}

.login-button {
    margin-left: 8px;
}

.more-setting-btn {
    line-height: 0;
    padding: 4px;
    margin-left: 16px;
    margin-top: -4px;
    margin-bottom: -4px;

    &:hover {
        cursor: pointer;
    }
}

.more-setting-icon {
    height: 20px;
    width: 20px;
}

// Current User
.upload-button--logged-in {
    min-width: 110px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 2px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.12);
    }
}

.upload-button--logged-in {
    + {
        .action-btn {
            margin-left: 28px;
        }
    }
}

.action-btn {
    position: relative;
    padding: 6px;
    margin: -6px -6px -6px auto;
    line-height: 0;

    &:hover {
        cursor: pointer;
    }
}

.action-btn {
    + {
        .action-btn {
            margin-left: 22px;
        }
    }
}

.action-icon {
    --action-icon-size: 2.2rem;

    width: var(--action-icon-size);
    height: var(--action-icon-size);
}

.notification-badge {
    position: absolute;
    bottom: 60%;
    left: 46%;
    padding: 2px 6px;
    background-color: var(--primary-color);
    color: var(--white-color);
    line-height: normal;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
}

.user-avatar {
    margin-left: 28px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}
