.container {
    width: 100%;
    max-height: min(-156px + 100vh, 760px);
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 12px;
    overflow: hidden;
}
