.container {
    position: relative;
    padding: 16px 0 0 8px;
}

.container {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 8px;
        right: 8px;
        height: 0.5px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.effect-house-link {
    position: relative;
    display: inline-block;
    height: 80px;
}

.effect-house-img {
    object-fit: cover;
    width: 320px;
}

.effect-house-label {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    color: rgb(255, 245, 201);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.footer-copyright {
    display: inline-block;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.333;
}
